@font-face {
  font-family: 'NeueHaasUnica';
  src:  url('/fonts/NeueHaasUnicaW1G-Regular.woff2') format('woff2'),
        url('/fonts/NeueHaasUnicaW1G-Regular.woff') format('woff');
}


body, html {
	font-family: 'NeueHaasUnica';
}

p {
	fs: responsive 12px 18px;
}

a {
	color: blue;
	ts: color .5s ease;
}
