@font-face {
  font-family: 'NeueHaasUnica';
  src:  url('/fonts/NeueHaasUnicaW1G-Regular.woff2') format('woff2'),
        url('/fonts/NeueHaasUnicaW1G-Regular.woff') format('woff');
}


body, html {
	font-family: 'NeueHaasUnica';
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
}

p {
	fs: responsive 14px 16px;
}

a {
	color: $color;
	ts: color .5s ease;
  text-decoration: none;
}
