@font-face {
  font-family: 'NeueHaasUnica-regular';
  src:  url('/fonts/NeueHaasUnicaW1G-Regular.woff2') format('woff2'),
        url('/fonts/NeueHaasUnicaW1G-Regular.woff') format('woff');
}

@font-face {
  font-family: 'NeueHaasUnica-light';
  src:  url('/fonts/NeueHaasUnicaW1G-light.woff2') format('woff2'),
        url('/fonts/NeueHaasUnicaW1G-light.woff') format('woff');
}


body, html {
	font-family: 'NeueHaasUnica-regular';
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-family: 'NeueHaasUnica-light';
}

h1 {
  fs: responsive 32px 48px;
  line-height: 1.2;
}

h2 {
  fs: 2.5rem;
}

h3 {
  fs: 1.75rem;
}

h4 {
    fs: 1.25rem;
}

p {
	fs: responsive 14px 18px;
}

a {
	fs: responsive 14px 18px;
	color: $color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #000;
  }
}
