header
  .scene_element.scene_element--fadein
    .row.center-v
      ul
        li
          a Work
        li
          a Profile
        li
          a Verbose
      a(href='/')#logo
        img(src='images/logo.svg')
