include head.pug
.row
  #main.detail.m-scene
    .scene_element.scene_element--fadeinup
      h1
        | Detail test
      .article-row
        .article-text
          h3 Some text on a title
          p
            | Some text yo here in here yo
        .article-image
          img(src='http://placekitten.com/g/200/300', alt='img')
      .article-row
        .article-image
          img(src='http://placekitten.com/g/200/300', alt='img')
        .article-image
          img(src='http://placekitten.com/g/200/300', alt='img')
include foot.pug
