doctype html
html
  include _head.pug
  body
    #main.scene
      include _header.pug
      .row
        .scene_element.scene_element--fadeinup
          .intro.bio
            h2
              | My name is Sebastian Graz. I am a designer and a front-end developer based in London &#9748;
        .scene_element.scene_element--fadeInUpDelay
          h3.case-title Selected works
          .cases
            a(href='case-poetry.html').case
              h2 The Poetry Hour
                sup 2016
              img(src='images/poetry.png', alt='img')
              p Poetry portal where users can create their own memes
            a(href='case-delhaize.html').case
              h2 Delhaize
                sup 2016
              img(src='images/delhaize.png', alt='img')
              p Poetry portal where users can create their own memes

include _foot.pug
