doctype html
html
  include _head.pug
  body
    #main.scene
      include _header.pug
      .row
        .scene_element.scene_element--fadeinup
          .intro.bio
            h3
              | My name is Sebastian Graz. I am a designer and a front-end developer based in London &#9748;
            a(href='profile.html').cta Read full profile
        .scene_element.scene_element--fadeInUpDelay
          h4.case-title Selected works
          .cases
            a(href='case-poetry.html').case
              img(src='images/poetry.png', alt='img')
              h3 The Poetry Hour
                sup 2016
              p Poetry portal web project
            a(href='case-delhaize.html').case
              img(src='images/delhaize.png', alt='img')
              h3 Delhaize
                sup 2016
              p Massive e-commerce redesign
            a(href='case-delhaize.html').case
              img(src='images/delhaize.png', alt='img')
              h3 Volvo
                sup 2016
              p Design pitch
            a(href='case-delhaize.html').case
              img(src='images/poetry.png', alt='img')
              h3 Husqvarna
                sup 2016
              p Global redesign design pitch
include _foot.pug
