doctype html
html
  include _head.pug
  body
    #main.scene
      include _header.pug
      .row
        .scene_element.scene_element--fadeinup
          .intro.bio
            h2
              | My name is Sebastian Graz. I am a designer and a front-end developer based in London &#9748;
        .scene_element.scene_element--fadeInUpDelay
          h3.case-title Selected works
          .cases
            a(href='case-poetry.html').case
              img(src='images/poetry.png', alt='img')
              h2 The Poetry Hour
                sup 2016
              p Poetry portal web project
            a(href='case-delhaize.html').case
              img(src='images/delhaize.png', alt='img')
              h2 Delhaize
                sup 2016
              p Massive e-commerce redesign
            a(href='case-delhaize.html').case
              img(src='images/delhaize.png', alt='img')
              h2 Volvo
                sup 2016
              p Design pitch
            a(href='case-delhaize.html').case
              img(src='images/delhaize.png', alt='img')
              h2 Husqvarna
                sup 2016
              p Global redesign design pitch
include _foot.pug
