include head.pug
//- h1 Pug is supercool
//- .container.row
//- 	- var n = 0
//- 	while n < 100
//- 		.item
//- 			p Article item
//- 		- n++
#main.index.m-scene.row
  .m-header.scene_element.scene_element--fadein
    h1 PORTFOLIO
    p
      | To run this demo locally, start a server in the root of this repository. If you have python installed, you can simply run
      code python -m SimpleHTTPServer
      |  after you
      code cd
      |  into the repo.
  .m-page.scene_element.scene_element--fadeinup
    h2
      a(href='./case.html') Detail page demo
    p
      | Voluptatum doloribus est omnis molestiae sed. Officia sint et repellat dolorum a velit. Ipsam velit explicabo repudiandae qui ratione voluptas repellat exercitationem magni commodi.
include foot.pug
