doctype html
html
  include _head.pug
  body
    #main.scene
      include _header.pug
      .row
        .scene_element.scene_element--fadeinup
          .intro
            h2
              | Designer and front-end developer with 6 years expereince in the industry with a strong fondness to prototype everything. Secretly a typeface designer.
              | Gamuts from minimalism to extensive e-commerce projects, I have dabbled in animated videos as well as audio production
              | My current focus includes identities and creative direction with a side of web development. Yum. 	&#127798;

            a(href='/contact').cta Contact me

          .profile
            .profile-section
              h3 Clients
              ul.column
                li Volvo Cars, Trucks, Penta
                li Husqvarna
                li MC Saatchi
                li Tena
                li SKF
                li Maersk
                li Majblomman
                li Delhaize
                li Positive Luxury
                li Various freelance clients
            .profile-section
              h3 Awards & Recognitions
              ul.column
                li Site Inspire - Featured Portfolio 2014
                li CSS Awards - Featured Portfolio 2014
                li Designmadeingermany - Featured Portfolio 2015
                li Mindsparklemag - Featured Portfolio 2014
                li Maersk FWA - Site of the Day 2013
            .profile-section
              h3 Experience
              ul.column
                li This Place 2014-2016
                li DigitasLBi 2011-2014
                li University West Bachelor in Media 2010 - 2011-2012
            .profile-section
              h3 Skills
              ul.column
                li Web dev
                li User Experience
                li Wireframing
                li
            .profile-section
              h3 Web presence
              ul.column
                li Twitter
                li VSCO
                li email

include _foot.pug
