doctype html
html
  include _head.pug
  body
    #main.scene
      include _header.pug
      .row
        .scene_element.scene_element--fadeinup
          .intro.bio
            h3
              | Designer and front-end developer with 6 years experience in the industry with a strong fondness to prototype everything. Secretly a typeface designer.
              | Gamuts from minimalism to extensive e-commerce projects, I have dabbled in animated videos as well as audio production.
              | My current focus includes identities and creative direction with a side of web development. Yum. 	&#127798;

            a(href='mailto:hi@sebastiangraz.com?subject=Contact enquiry').cta Contact me
          .profile
            .profile-section
              h4 Clients
              ul
                li
                  p Volvo Cars, Trucks, Penta
                li
                  p Husqvarna
                li
                  p MC Saatchi
                li
                  p Tena
                li
                  p SKF
                li
                  p Maersk
                li
                  p Majblomman
                li
                  p Delhaize
                li
                  p Positive Luxury
                li
                  p Various freelance clients
            .profile-section
              h4 Awards & Recognitions
              ul
                li
                  p SiteInspire - Featured Portfolio
                    sup 2014
                li
                  p CSS Awards - Featured Portfolio
                    sup 2014
                li
                  p DESIGN MADE IN GERMANY - Featured Portfolio
                    sup 2015
                li
                  p Mindsparklemag - Featured Portfolio
                    sup 2014
                li
                  p FWA - Maersk - Site of the Day
                    sup 2013
            .profile-section
              h4 Experience
              ul
                li
                  p This Place
                    sup 2014-2016
                li
                  p DigitasLBi
                    sup 2011-2014
                li
                  p University West Bachelor in Media
                    sup 2011-2012
            .profile-section
              h4 Skills
              ul
                li
                  p Web dev
                li
                  p User Experience
                li
                  p Wireframing
                li
            .profile-section
              h4 Languages
              ul
                li
                  p English &rarr; Professional proficiency
                li
                  p Swedish &rarr; Native
                li
                  p Polish &rarr; Native

            .profile-section
              h4 Web presence
              ul
                li
                  a Twitter
                li
                  a VSCO
                li
                  a Email

include _foot.pug
