@import 'global/variables.scss';
@import 'global/aliases.scss';
@import 'global/mixins.scss';
@import 'components/type.scss';


.cases {
	lost-utility: clearfix;
	.case {
		lost-column: 1/2;
	}
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.row {
  max-width: 1156px;
  margin: 0 auto;
  width: 92%;
}

header {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	z-index: 1;
	.row {
		height: 56px;
	}
	h4 {
		display: inline-block;
	}
	img {
		display: inline-block;
    max-width: 32px;
		float: left;
	}
}

.center-v {
	display: flex;
	align-items: center;
}

.article-row {
  display: flex;
  margin-bottom: 48px;
	align-items: center;
  & > * {
    flex: 1;
		flex-basis: 50%;
  }
}
.article-text, .article-image {
  padding: 5vw;
  margin: 0 1.5rem;
}
.article-text {
  width: 100%;
  float: left;
}

.article-image {
  overflow: hidden;
  background: #eee;
  &:after {
		content: '';
		height: 100%;
		width: 100%;
		display: block;
		background: #000;
	}
	&--nopadding {
		padding: 0;
    box-shadow: 10px 30px 80px -9px rgba(0,0,0,0.3);
	}
}

.intro {
	padding: 5rem 0;
	overflow: hidden;
	position: relative;
	&--text {
			max-width: 480px;
			margin: 0 auto;
			padding: 0 1.5rem;
	}
}

.intro-image--poetry {
	position: absolute;
	    top: 0px;
	    transform: translate(50%);
	    z-index: -1;
			img {
				max-height: 540px;
				object-fit: contain;
			}
}

.case {
	sup {
		fs: 1rem;
		margin-left: 0.25rem;
	}
	h2 {
		margin-bottom: 0rem;
		top: 16px;
		position: relative;
	}
}

img {
	width: 100%;
	display: block;
}

.scene {
	.scene_element {
		  animation-duration: .25s;
		  transition-timing-function: ease-in;
			animation-fill-mode: both;
			&--fadein {
				  animation-name: fadeIn;
			}
			&--fadeinup {
				animation-name: fadeInUp;
			}
			&--fadeinupReverse {
				animation-name: fadeInUpReverse;
			}
			&--fadeInUpDelay {
				animation-name: fadeInUpDelay;
			}
		}
		&.is-exiting {
			.scene_element {
				  animation-direction: alternate-reverse;
			}
		}
}

@keyframes fadeInUpReverse {
0% {
  opacity: 0;
  transform: translate3d(96px, 0, 0); }
100% {
  opacity: 1;
  transform: none;
	}
}

@keyframes fadeInUp {
0% {
  opacity: 0;
  transform: translate3d(-24px, 0, 0); }
100% {
  opacity: 1;
  transform: none;
	}
}

@keyframes fadeInUpDelay {
0% {
  opacity: 0;
  transform: translate3d(-32px, 0, 0); }
100% {
  opacity: 1;
  transform: none;
	}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
