@import 'global/variables.scss';
@import 'global/aliases.scss';
@import 'global/mixins.scss';
@import 'global/animations.scss';
@import 'global/type.scss';

@import 'components/case-top.scss';



.cases {
	lost-center: $max-width;
	.case {
		lost-column: 1/2;
	}
}

body {
	margin: $header-height 0 0 0;
}

* {
	box-sizing: border-box;
}

.row {
	lost-center: $max-width;
  margin: 0 auto;
  width: 92%;
}

header {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	z-index: 1;

	.row {
		height: $header-height;
		justify-content: space-between;
	}
	h4 {
		display: inline-block;
	}
	#logo {
		display: inline-block;
    max-width: 32px;
	}
	ul {
		padding: 0;
		li {
			float: left;
			list-style: none;
			a {
				margin-left: 40px;
			}
			&:first-child {
				a {
					margin-left: 0;
				}
			}
		}
	}
}

a.cta {
	padding: 1rem;
	display: inline-block;
	&:hover {
		border-color: #000;
	}
	&:after {
    content:'\2192';
		margin-left: 1rem;
	}
}

.center-v {
	display: flex;
	align-items: center;
}
.case-title {
	text-align: center;
}

.article-row {
  display: flex;
  margin-bottom: 48px;
	align-items: center;
  & > * {
    flex: 1;
		flex-basis: 50%;
  }
}
.article-text, .article-image {
  padding: 5vw;
  margin: 0 1.5rem;
}
.article-text {
  width: 100%;
  float: left;
}

.article-image {
  overflow: hidden;
  background: #eee;
  &:after {
		content: '';
		height: 100%;
		width: 100%;
		display: block;
		background: #000;
	}
	&--nopadding {
		padding: 0;
    box-shadow: 10px 30px 80px -9px rgba(0,0,0,0.3);
	}
}

.intro {
	padding: 3rem 0;
	overflow: hidden;
	position: relative;
	&-text {
			max-width: 480px;
			margin: 0 auto;
			padding: 0 1.5rem;
	}
	&.bio {
		lost-column: 7/12;
	}
}
.intro-case {
	padding: 3rem 0;
	overflow: hidden;
	position: relative;
	top:-$header-height;
}
.intro-image--poetry {
	position: absolute;
	    top: 0px;
	    transform: translate(50%);
	    z-index: -1;
			img {
				max-height: 540px;
				object-fit: contain;
			}
}

.case {
	sup {
		fs: 1rem;
		margin-left: 0.25rem;
	}
	h2 a{
		margin-bottom: 0rem;
		top: 16px;
		position: relative;
	}
}

img {
	width: 100%;
	display: block;
}

.scene {
	.scene_element {
		  animation-duration: .25s;
		  transition-timing-function: ease-in;
			animation-fill-mode: both;
			&--fadein {
				  animation-name: fadeIn;
			}
			&--fadeinup {
				animation-name: fadeInUp;
			}
			&--fadeinupReverse {
				animation-name: fadeInUpReverse;
			}
			&--fadeInUpDelay {
				animation-name: fadeInUpDelay;
			}
			&--fadeInDown {
				animation-name: fadeInDown;
			}
			&--fadeInDownDelay {
				animation-name: fadeInDownDelay;
			  animation-duration: .4s;
			}
		}
		&.is-exiting {
			.scene_element {
				  animation-direction: alternate-reverse;
			}
		}
}
